@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}
.card {
  background-color: #141414;
  color: #fff;
  border-radius: 15px;
  padding: 2.5em;
  max-width: 400px;
  margin: 23vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 4px;
}
.location {
  font-size: 0.875rem;
  color: #c4f82a;
  font-weight: 700;
}
blockquote {
  font-size: 0.875rem;
  font-weight: 400;
  color: #b3b3b3;
}
.socials {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.social {
  background-color: #333333;

  text-align: center;
  border-radius: 10px;
}
.social h3 {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.75em 7.3em;
}

.attribution {
  text-align: center;
}
