@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Inter', sans-serif;
  background-color: #141414;
}

main {
  width: 100%;
}

img.profile-img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.card {
  background-color: #1f1f1f;
  color: #ffffff;
  border-radius: 10px;
  padding: 2.5em;
  max-width: 385px;
  margin: 18vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8em;
  text-align: center;
}

.profile-name {
  margin-bottom: 10px;
  font-size: 1.52rem;
  font-weight: 600;
}

.location {
  font-size: 0.875rem;
  color: #c4f82a;
  font-weight: 700;
}

.bio {
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.social {
  display: block;
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  font-size: 0.875rem;
  font-weight: 700;
}

.social:hover,
.social:focus-visible {
  background-color: #c4f82a;
  color: #1f1f1f;
  outline: none;
}

.attribution {
  margin-top: 2em;
  text-align: center;
  font-size: 0.75rem;
  color: #b3b3b3;
}

.attribution a {
  color: #c4f82a;
  text-decoration: none;
}
